body{

background:#FFF8F0;

}

.card{

border:none;

border-radius:15px;

}

label{

font-weight:bold;

margin-bottom:5px;

}

.form-control,
.form-select{

border-radius:10px;

}

button{

font-size:18px;

padding:12px;

}

#grand{

font-size:30px;

font-weight:bold;

color:#FF6B35;

}
